.elementor-176 .elementor-element.elementor-element-47c89c25:not(.elementor-motion-effects-element-type-background), .elementor-176 .elementor-element.elementor-element-47c89c25 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-accent );}.elementor-176 .elementor-element.elementor-element-47c89c25 > .elementor-background-overlay{background-color:#091D422B;opacity:1;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-176 .elementor-element.elementor-element-47c89c25{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-70px;margin-bottom:0px;padding:12% 0% 0% 0%;}.elementor-176 .elementor-element.elementor-element-308e7d08 > .elementor-element-populated{margin:0px 0px 25px 25px;--e-column-margin-right:0px;--e-column-margin-left:25px;padding:0px 0px 0px 0px;}.elementor-176 .elementor-element.elementor-element-1551e9fe .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-size:var( --e-global-typography-primary-font-size );font-weight:var( --e-global-typography-primary-font-weight );letter-spacing:var( --e-global-typography-primary-letter-spacing );}.elementor-176 .elementor-element.elementor-element-1551e9fe > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-176 .elementor-element.elementor-element-221aa50b{padding:0160px 0px 0px 0px;}.elementor-176 .elementor-element.elementor-element-ee23077 .col-title a, .elementor-176 .elementor-element.elementor-element-ee23077 .col-title{color:var( --e-global-color-secondary );}.elementor-176 .elementor-element.elementor-element-ee23077 .col-title, .elementor-176 .elementor-element.elementor-element-ee23077 .col-title a{font-size:20px;font-weight:bold;line-height:1.2em;}.elementor-176 .elementor-element.elementor-element-ee23077 .aux-staff-content .col-title{margin-top:35px;}.elementor-176 .elementor-element.elementor-element-ee23077 .aux-staff-content  .col-title{margin-bottom:12px;}.elementor-176 .elementor-element.elementor-element-ee23077 .col-subtitle{color:var( --e-global-color-primary );margin-bottom:49px;}.elementor-176 .elementor-element.elementor-element-ee23077 .aux-staff-content  .col-subtitle{font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:500;font-style:normal;line-height:1.4em;}.elementor-176 .elementor-element.elementor-element-ee23077 > .elementor-widget-container{border-radius:20px 20px 20px 20px;}.elementor-176 .elementor-element.elementor-element-2ca8e1fa .col-title a, .elementor-176 .elementor-element.elementor-element-2ca8e1fa .col-title{color:var( --e-global-color-secondary );}.elementor-176 .elementor-element.elementor-element-2ca8e1fa .col-title, .elementor-176 .elementor-element.elementor-element-2ca8e1fa .col-title a{font-size:20px;font-weight:bold;line-height:1.2em;}.elementor-176 .elementor-element.elementor-element-2ca8e1fa .aux-staff-content .col-title{margin-top:35px;}.elementor-176 .elementor-element.elementor-element-2ca8e1fa .aux-staff-content  .col-title{margin-bottom:12px;}.elementor-176 .elementor-element.elementor-element-2ca8e1fa .col-subtitle{color:var( --e-global-color-primary );margin-bottom:49px;}.elementor-176 .elementor-element.elementor-element-2ca8e1fa .aux-staff-content  .col-subtitle{font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:500;font-style:normal;line-height:1.4em;}.elementor-176 .elementor-element.elementor-element-2ca8e1fa > .elementor-widget-container{border-radius:20px 20px 20px 20px;}.elementor-176 .elementor-element.elementor-element-1059d131 .col-title a, .elementor-176 .elementor-element.elementor-element-1059d131 .col-title{color:var( --e-global-color-secondary );}.elementor-176 .elementor-element.elementor-element-1059d131 .col-title, .elementor-176 .elementor-element.elementor-element-1059d131 .col-title a{font-size:20px;font-weight:bold;line-height:1.2em;}.elementor-176 .elementor-element.elementor-element-1059d131 .aux-staff-content .col-title{margin-top:35px;}.elementor-176 .elementor-element.elementor-element-1059d131 .aux-staff-content  .col-title{margin-bottom:12px;}.elementor-176 .elementor-element.elementor-element-1059d131 .col-subtitle{color:var( --e-global-color-primary );margin-bottom:49px;}.elementor-176 .elementor-element.elementor-element-1059d131 .aux-staff-content  .col-subtitle{font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:500;font-style:normal;line-height:1.4em;}.elementor-176 .elementor-element.elementor-element-1059d131 > .elementor-widget-container{border-radius:20px 20px 20px 20px;}.elementor-176 .elementor-element.elementor-element-4ecd128e .col-title a, .elementor-176 .elementor-element.elementor-element-4ecd128e .col-title{color:var( --e-global-color-secondary );}.elementor-176 .elementor-element.elementor-element-4ecd128e .col-title, .elementor-176 .elementor-element.elementor-element-4ecd128e .col-title a{font-size:20px;font-weight:bold;line-height:1.2em;}.elementor-176 .elementor-element.elementor-element-4ecd128e .aux-staff-content .col-title{margin-top:35px;}.elementor-176 .elementor-element.elementor-element-4ecd128e .aux-staff-content  .col-title{margin-bottom:12px;}.elementor-176 .elementor-element.elementor-element-4ecd128e .col-subtitle{color:var( --e-global-color-primary );margin-bottom:49px;}.elementor-176 .elementor-element.elementor-element-4ecd128e .aux-staff-content  .col-subtitle{font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:500;font-style:normal;line-height:1.4em;}.elementor-176 .elementor-element.elementor-element-4ecd128e > .elementor-widget-container{border-radius:20px 20px 20px 20px;}.elementor-176 .elementor-element.elementor-element-eb13f16 .col-title a, .elementor-176 .elementor-element.elementor-element-eb13f16 .col-title{color:var( --e-global-color-secondary );}.elementor-176 .elementor-element.elementor-element-eb13f16 .col-title, .elementor-176 .elementor-element.elementor-element-eb13f16 .col-title a{font-size:20px;font-weight:bold;line-height:1.2em;}.elementor-176 .elementor-element.elementor-element-eb13f16 .aux-staff-content .col-title{margin-top:35px;}.elementor-176 .elementor-element.elementor-element-eb13f16 .aux-staff-content  .col-title{margin-bottom:12px;}.elementor-176 .elementor-element.elementor-element-eb13f16 .col-subtitle{color:var( --e-global-color-primary );margin-bottom:49px;}.elementor-176 .elementor-element.elementor-element-eb13f16 .aux-staff-content  .col-subtitle{font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:500;font-style:normal;line-height:1.4em;}.elementor-176 .elementor-element.elementor-element-eb13f16 > .elementor-widget-container{border-radius:20px 20px 20px 20px;}.elementor-176 .elementor-element.elementor-element-60b0ef6 .col-title a, .elementor-176 .elementor-element.elementor-element-60b0ef6 .col-title{color:var( --e-global-color-secondary );}.elementor-176 .elementor-element.elementor-element-60b0ef6 .col-title, .elementor-176 .elementor-element.elementor-element-60b0ef6 .col-title a{font-size:20px;font-weight:bold;line-height:1.2em;}.elementor-176 .elementor-element.elementor-element-60b0ef6 .aux-staff-content .col-title{margin-top:35px;}.elementor-176 .elementor-element.elementor-element-60b0ef6 .aux-staff-content  .col-title{margin-bottom:12px;}.elementor-176 .elementor-element.elementor-element-60b0ef6 .col-subtitle{color:var( --e-global-color-primary );margin-bottom:49px;}.elementor-176 .elementor-element.elementor-element-60b0ef6 .aux-staff-content  .col-subtitle{font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:500;font-style:normal;line-height:1.4em;}.elementor-176 .elementor-element.elementor-element-60b0ef6 > .elementor-widget-container{border-radius:20px 20px 20px 20px;}.elementor-176 .elementor-element.elementor-element-c448c53 .col-title a, .elementor-176 .elementor-element.elementor-element-c448c53 .col-title{color:var( --e-global-color-secondary );}.elementor-176 .elementor-element.elementor-element-c448c53 .col-title, .elementor-176 .elementor-element.elementor-element-c448c53 .col-title a{font-size:20px;font-weight:bold;line-height:1.2em;}.elementor-176 .elementor-element.elementor-element-c448c53 .aux-staff-content .col-title{margin-top:35px;}.elementor-176 .elementor-element.elementor-element-c448c53 .aux-staff-content  .col-title{margin-bottom:12px;}.elementor-176 .elementor-element.elementor-element-c448c53 .col-subtitle{color:var( --e-global-color-primary );margin-bottom:49px;}.elementor-176 .elementor-element.elementor-element-c448c53 .aux-staff-content  .col-subtitle{font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:500;font-style:normal;line-height:1.4em;}.elementor-176 .elementor-element.elementor-element-c448c53 > .elementor-widget-container{border-radius:20px 20px 20px 20px;}.elementor-176 .elementor-element.elementor-element-67e76aa .col-title a, .elementor-176 .elementor-element.elementor-element-67e76aa .col-title{color:var( --e-global-color-secondary );}.elementor-176 .elementor-element.elementor-element-67e76aa .col-title, .elementor-176 .elementor-element.elementor-element-67e76aa .col-title a{font-size:20px;font-weight:bold;line-height:1.2em;}.elementor-176 .elementor-element.elementor-element-67e76aa .aux-staff-content .col-title{margin-top:35px;}.elementor-176 .elementor-element.elementor-element-67e76aa .aux-staff-content  .col-title{margin-bottom:12px;}.elementor-176 .elementor-element.elementor-element-67e76aa .col-subtitle{color:var( --e-global-color-primary );margin-bottom:49px;}.elementor-176 .elementor-element.elementor-element-67e76aa .aux-staff-content  .col-subtitle{font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:500;font-style:normal;line-height:1.4em;}.elementor-176 .elementor-element.elementor-element-67e76aa > .elementor-widget-container{border-radius:20px 20px 20px 20px;}.elementor-176 .elementor-element.elementor-element-8680458 .col-title a, .elementor-176 .elementor-element.elementor-element-8680458 .col-title{color:var( --e-global-color-secondary );}.elementor-176 .elementor-element.elementor-element-8680458 .col-title, .elementor-176 .elementor-element.elementor-element-8680458 .col-title a{font-size:20px;font-weight:bold;line-height:1.2em;}.elementor-176 .elementor-element.elementor-element-8680458 .aux-staff-content .col-title{margin-top:35px;}.elementor-176 .elementor-element.elementor-element-8680458 .aux-staff-content  .col-title{margin-bottom:12px;}.elementor-176 .elementor-element.elementor-element-8680458 .col-subtitle{color:var( --e-global-color-primary );margin-bottom:49px;}.elementor-176 .elementor-element.elementor-element-8680458 .aux-staff-content  .col-subtitle{font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:500;font-style:normal;line-height:1.4em;}.elementor-176 .elementor-element.elementor-element-8680458 > .elementor-widget-container{border-radius:20px 20px 20px 20px;}.elementor-176 .elementor-element.elementor-element-4db492c .col-title a, .elementor-176 .elementor-element.elementor-element-4db492c .col-title{color:var( --e-global-color-secondary );}.elementor-176 .elementor-element.elementor-element-4db492c .col-title, .elementor-176 .elementor-element.elementor-element-4db492c .col-title a{font-size:20px;font-weight:bold;line-height:1.2em;}.elementor-176 .elementor-element.elementor-element-4db492c .aux-staff-content .col-title{margin-top:35px;}.elementor-176 .elementor-element.elementor-element-4db492c .aux-staff-content  .col-title{margin-bottom:12px;}.elementor-176 .elementor-element.elementor-element-4db492c .col-subtitle{color:var( --e-global-color-primary );margin-bottom:49px;}.elementor-176 .elementor-element.elementor-element-4db492c .aux-staff-content  .col-subtitle{font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:500;font-style:normal;line-height:1.4em;}.elementor-176 .elementor-element.elementor-element-4db492c > .elementor-widget-container{border-radius:20px 20px 20px 20px;}@media(max-width:1024px){.elementor-176 .elementor-element.elementor-element-47c89c25{padding:7em 0em 0em 0em;}.elementor-176 .elementor-element.elementor-element-1551e9fe .elementor-heading-title{font-size:var( --e-global-typography-primary-font-size );letter-spacing:var( --e-global-typography-primary-letter-spacing );}}@media(max-width:767px){.elementor-176 .elementor-element.elementor-element-1551e9fe{text-align:center;}.elementor-176 .elementor-element.elementor-element-1551e9fe .elementor-heading-title{font-size:var( --e-global-typography-primary-font-size );letter-spacing:var( --e-global-typography-primary-letter-spacing );}}/* Start custom CSS for aux_staff, class: .elementor-element-ee23077 */.elementor-176 .elementor-element.elementor-element-ee23077 .aux-staff-content {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}


.elementor-176 .elementor-element.elementor-element-ee23077 .aux-staff-footer {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.elementor-176 .elementor-element.elementor-element-ee23077:hover .aux-staff-content:after {
    height: 12px;
}

.elementor-176 .elementor-element.elementor-element-ee23077:hover .aux-staff-footer {
    opacity: 1;
}

.elementor-176 .elementor-element.elementor-element-ee23077 .aux-widget-staff .aux-staff-text-center .aux-social-list > li {
    margin-right: 12px;
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-2ca8e1fa */.elementor-176 .elementor-element.elementor-element-2ca8e1fa .aux-staff-content {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}


.elementor-176 .elementor-element.elementor-element-2ca8e1fa .aux-staff-footer {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.elementor-176 .elementor-element.elementor-element-2ca8e1fa:hover .aux-staff-content:after {
    height: 12px;
}

.elementor-176 .elementor-element.elementor-element-2ca8e1fa:hover .aux-staff-footer {
    opacity: 1;
}

.elementor-176 .elementor-element.elementor-element-2ca8e1fa .aux-widget-staff .aux-staff-text-center .aux-social-list > li {
    margin-right: 12px;
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-1059d131 */.elementor-176 .elementor-element.elementor-element-1059d131 .aux-staff-content {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}


.elementor-176 .elementor-element.elementor-element-1059d131 .aux-staff-footer {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.elementor-176 .elementor-element.elementor-element-1059d131:hover .aux-staff-content:after {
    height: 12px;
}

.elementor-176 .elementor-element.elementor-element-1059d131:hover .aux-staff-footer {
    opacity: 1;
}

.elementor-176 .elementor-element.elementor-element-1059d131 .aux-widget-staff .aux-staff-text-center .aux-social-list > li {
    margin-right: 12px;
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-4ecd128e */.elementor-176 .elementor-element.elementor-element-4ecd128e .aux-staff-content {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}


.elementor-176 .elementor-element.elementor-element-4ecd128e .aux-staff-footer {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.elementor-176 .elementor-element.elementor-element-4ecd128e:hover .aux-staff-content:after {
    height: 12px;
}

.elementor-176 .elementor-element.elementor-element-4ecd128e:hover .aux-staff-footer {
    opacity: 1;
}

.elementor-176 .elementor-element.elementor-element-4ecd128e .aux-widget-staff .aux-staff-text-center .aux-social-list > li {
    margin-right: 12px;
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-eb13f16 */.elementor-176 .elementor-element.elementor-element-eb13f16 .aux-staff-content {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}


.elementor-176 .elementor-element.elementor-element-eb13f16 .aux-staff-footer {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.elementor-176 .elementor-element.elementor-element-eb13f16:hover .aux-staff-content:after {
    height: 12px;
}

.elementor-176 .elementor-element.elementor-element-eb13f16:hover .aux-staff-footer {
    opacity: 1;
}

.elementor-176 .elementor-element.elementor-element-eb13f16 .aux-widget-staff .aux-staff-text-center .aux-social-list > li {
    margin-right: 12px;
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-60b0ef6 */.elementor-176 .elementor-element.elementor-element-60b0ef6 .aux-staff-content {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}


.elementor-176 .elementor-element.elementor-element-60b0ef6 .aux-staff-footer {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.elementor-176 .elementor-element.elementor-element-60b0ef6:hover .aux-staff-content:after {
    height: 12px;
}

.elementor-176 .elementor-element.elementor-element-60b0ef6:hover .aux-staff-footer {
    opacity: 1;
}

.elementor-176 .elementor-element.elementor-element-60b0ef6 .aux-widget-staff .aux-staff-text-center .aux-social-list > li {
    margin-right: 12px;
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-c448c53 */.elementor-176 .elementor-element.elementor-element-c448c53 .aux-staff-content {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}


.elementor-176 .elementor-element.elementor-element-c448c53 .aux-staff-footer {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.elementor-176 .elementor-element.elementor-element-c448c53:hover .aux-staff-content:after {
    height: 12px;
}

.elementor-176 .elementor-element.elementor-element-c448c53:hover .aux-staff-footer {
    opacity: 1;
}

.elementor-176 .elementor-element.elementor-element-c448c53 .aux-widget-staff .aux-staff-text-center .aux-social-list > li {
    margin-right: 12px;
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-67e76aa */.elementor-176 .elementor-element.elementor-element-67e76aa .aux-staff-content {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}


.elementor-176 .elementor-element.elementor-element-67e76aa .aux-staff-footer {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.elementor-176 .elementor-element.elementor-element-67e76aa:hover .aux-staff-content:after {
    height: 12px;
}

.elementor-176 .elementor-element.elementor-element-67e76aa:hover .aux-staff-footer {
    opacity: 1;
}

.elementor-176 .elementor-element.elementor-element-67e76aa .aux-widget-staff .aux-staff-text-center .aux-social-list > li {
    margin-right: 12px;
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-8680458 */.elementor-176 .elementor-element.elementor-element-8680458 .aux-staff-content {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}


.elementor-176 .elementor-element.elementor-element-8680458 .aux-staff-footer {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.elementor-176 .elementor-element.elementor-element-8680458:hover .aux-staff-content:after {
    height: 12px;
}

.elementor-176 .elementor-element.elementor-element-8680458:hover .aux-staff-footer {
    opacity: 1;
}

.elementor-176 .elementor-element.elementor-element-8680458 .aux-widget-staff .aux-staff-text-center .aux-social-list > li {
    margin-right: 12px;
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-4db492c */.elementor-176 .elementor-element.elementor-element-4db492c .aux-staff-content {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}


.elementor-176 .elementor-element.elementor-element-4db492c .aux-staff-footer {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.elementor-176 .elementor-element.elementor-element-4db492c:hover .aux-staff-content:after {
    height: 12px;
}

.elementor-176 .elementor-element.elementor-element-4db492c:hover .aux-staff-footer {
    opacity: 1;
}

.elementor-176 .elementor-element.elementor-element-4db492c .aux-widget-staff .aux-staff-text-center .aux-social-list > li {
    margin-right: 12px;
}/* End custom CSS */
/* Start custom CSS */html, body {
    max-width: 100%;
    overflow-x: hidden;
}/* End custom CSS */